@use "../components/variables.sass" as *

.error-container
    justify-content: center
    align-items: center
    align-content: center
    height: 20vh
    text-align: center
    position: relative
    color: $primary-color
    h1
        font-size: 288px
    h2
        position: relative
        top: -220px
        width: 100%
        font-size: 36px
    a
        position: relative
        top: -60px
        font-size: 18px
        color: $primary-color